body {
    box-sizing: border-box;
    margin: auto 3;
  }
  nav {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .header {
    display: flex;
    font-size: 2rem;
    height: 70px;
    background-image: linear-gradient(to bottom right, violet, rgb(0, 162, 255));
  }
  .side-top {
    display: flex;
    font-size: 1rem;
  }
  nav {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  nav a {
    flex-grow: 1;
    text-align: center;
    padding: 1em;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  li {
    list-style-type: none;
    padding: 1rem;
  }
  .main-nav {
    display: flex;
    list-style: none;
    font-size: 1rem;
    margin: 1;
  }
  .about-me-section,
  .gallery-section,
  .contact-section,
  .skills-section,
  .projects,
  .tools {
    border: 1px black solid;
    padding: 3rem;
  }
  .about-me-section {
    text-align: center;
    justify-content: center;
  }
  .container {
    display: grid;
    gap: 1rem;
  }



  .gallery-section {
    text-align: center;
    justify-content: center;
  }

  .skill-tech {
    font-size: 1rem;
  }

  .article-one {
    font-size: 1.5rem;
  }

  .doubt {
    font-size: 2rem;
  }

  .kyo {
    font-size: 1.5rem;
  }

  .footer {
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, violet, rgb(0, 162, 255));
  }
    
img {
 width: 80%;
 height: auto;
}

/* .projects {
  display: grid;
  grid-template-columns: 
  "article-one",
  "doubt",
  "kyo";
  gap: 1rem;
}

.article-one,
.doubt,
.kyo {
  border: 1px #ccc solid;
  padding: 0.5rem;
}

.article-one {
  grid-area: article-one;
}

.doubt {
  grid-area: doubt;
}

.kyo {
  grid-area: kyo;
} */